


<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Register", "Register", "UserDetail")
    </li>
    <li>
        @Html.ActionLink("Log in", "Login", "UserDetail")
    </li>
</ul>
